.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-column {
  flex-direction: column;
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.align-baseline {
  align-items: baseline;
}
.justify-center {
  justify-content: center;
}
.font-roboto {
  font-family: Roboto;
}
.font-bold {
  font-weight: bold;
}
.font-400 {
  font-weight: 400;
}
.font-500 {
  font-weight: 500;
}
.inline-block {
  display: inline;
}
.gap-4 {
  gap: 4px;
}
.gap-8 {
  gap: 8px;
}
.gap-16 {
  gap: 16px;
}
.gap-32 {
  gap: 32px;
}
.gap-64 {
  gap: 32px;
}
.p-16 {
  padding: 16px;
}
.mx-auto {
  margin: 0 auto;
}
.my16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.m16 {
  margin: 16px;
}
.mt16 {
  margin-top: 16px;
}
.mb8 {
  margin-bottom: 8px;
}
.mb16 {
  margin-bottom: 16px;
}
.mb32 {
  margin-bottom: 32px;
}
.mb64 {
  margin-bottom: 64px;
}
.font-16 {
  font-size: 16px;
}
.font-20 {
  font-size: 20px;
}
.font-24 {
  font-size: 24px;
}
.font-32 {
  font-size: 32px;
}
.font-48 {
  font-size: 48px;
}
.font-64 {
  font-size: 64px;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.cursor-pointer {
  cursor: pointer;
}
.break-all {
  word-break: break-all;
}
.text-nowrap {
  white-space: nowrap;
}
.word-normal {
  word-wrap: normal;
}
.block {
  display: block;
}
.w-full {
  width: 100%;
}
.white {
  color: #ffffff;
}
.gray {
  color: #ababab;
}
.red-underline {
  text-decoration: none;
  color: #db2a6b;
  &:hover {
    text-decoration: underline;
    color: #e02c40;
  }
}
.white-underline {
  text-decoration: none;
  color: #ffffff;
  &:hover {
    text-decoration: underline;
  }
}
.text-only-button {
  background: none;
  border: none;
}
