.mainPage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  background-color: #2b2d38;
  width: 100%;
  box-sizing: border-box;
}

.heroContent {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.heroContent h1 {
  font-size: 4vw;
  color: #ffffff;
  margin-bottom: 20px;
}

.heroContent p {
  font-size: 2vw;
  color: #ababab;
  margin-bottom: 1rem;
}

.heroButtons {
  display: flex;
  gap: 20px;
}

.heroImage img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.heroButton {
  background-color: #db2a6b;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.heroButton:hover {
  background-color: #c81f58;
}
