.mainPage {
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5vw;
  background-color: #2b2d38;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.heroContent {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.heroContent h1 {
  font-size: 4vw;
  color: #ffffff;
  margin-bottom: 20px;
}

.heroContent p {
  font-size: 2vw;
  color: #ababab;
  margin-bottom: 1rem;
}

.heroButtons {
  display: flex;
  gap: 20px;
}

.btnPrimary {
}

.btnSecondary {
}

.heroImage img {
  width: 100%;
  max-width: 500px;
  height: auto;
}
